@if(paginatedResult()?.items){
<div>
  <div class="container" style="width: 80%; max-width: 1200%; padding: 1%; margin-top: 5%;">
    <div
      class="table-container d-flex flex-column"
      style="max-height: 10%; overflow-y: auto"
    >
      <div class="container col-8 d-flex justify-content-end">
        <div class="row w-left">
          <div class="col-12 col-md-6">
            <div class="form-group mb-3">
              <label for="modelSearch" class="form-label"
                >Buscar por Modelo</label
              >
              <input
                id="modelSearch"
                class="form-control"
                type="text"
                [(ngModel)]="term"
                placeholder="Buscar por Modelo..."
                (ngModelChange)="applyFilters()"
              />
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group mb-3">
              <label for="yearSearch" class="form-label">Buscar por Año</label>
              <input
                id="yearSearch"
                class="form-control"
                type="number"
                [(ngModel)]="year"
                placeholder="Buscar por año..."
                (ngModelChange)="applyFilters()"
              />
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-end">
          <button class="btn btn-primary ms-3">
            <a
            class="text-black fs-8 px-1 rounded-pill transition-all hover-shadow"
            (click)="resetFilters()"
            >


              <fa-icon [icon]="faBroom"></fa-icon> Resetear filtros
            </a>
          </button>
          <button class="btn btn-primary ms-3">
            <a
              class="text-black fs-8 px-4 rounded-pill transition-all hover-shadow"
              [routerLink]="'/vehicle/create'"
              >Create</a
            >
          </button>
        </div>
      </div>

      <div class="table-responsive flex-grow-1">
        <table class="table table-success table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Modelo</th>
              <th scope="col">Año</th>
              <th scope="col">Color</th>
              <th scope="col">Marca</th>
              <th scope="col">Fotos</th>
            </tr>
          </thead>
          <tbody>
            <!-- Problemas para usar el @for devido a los filtros de pipe investigar solucion de conflictos -->
            <!-- @for(vehicle of paginatedResult()?.items!; track $index;   pipeFilters : year : term){} -->
            <tr
              *ngFor="
                let vehicle of paginatedResult()?.items!
                  | pipeFilters : year : term
              "
            >
              <td>
                @if(vehicle.id !== null && vehicle.id !== undefined){
                
                <a (click)="navigateToVehicle(vehicle.id)" style="cursor: pointer; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                  {{ vehicle.id }}
                </a>
                } @if(vehicle.id === null || vehicle.id === undefined){
                <span>ID no disponible</span>
                }
              </td>
              <td>
                @if(vehicle.id !== null && vehicle.id !== undefined ) {

                <a (click)="navigateToVehicle(vehicle.id)" style="cursor: pointer; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                  {{ vehicle.model }}
                </a>
                } @if(vehicle.id === null || vehicle.id === undefined){

                <span>Modelo no disponible</span>
                }
              </td>
              <td>
                @if(vehicle.id !== null && vehicle.id !== undefined){

                <a (click)="navigateToVehicle(vehicle.id)" style="cursor: pointer;  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                  {{ vehicle.year }}
                </a>
                } @if(vehicle.id === null || vehicle === undefined){

                <span>Año no disponible</span>
                }
              </td>
              <td>
                @if(vehicle.id !== null && vehicle.id !== undefined){

                <a (click)="navigateToVehicle(vehicle.id)"style="cursor: pointer; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; ">
                  {{ vehicle.color }}
                </a>
                } @if( vehicle.id === null || vehicle.id === undefined){

                <span>Color no disponible</span>
                }
              </td>
              <td>
                @if( vehicle.id !== null && vehicle.id !== undefined ){

                <a (click)="navigateToVehicle(vehicle.id)"style="cursor: pointer; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                  {{
                    vehicle.brand
                      ? vehicle.brand.name || vehicle.brand
                      : "No disponible"
                  }}
                </a>
                } @if(vehicle.id === null || vehicle.id === undefined){

                <span>Marca no disponible</span>
                }
              </td>
              <td>
                <div class="d-flex justify-content-start flex-wrap">
                  @if(vehicle?.id !== null && vehicle?.id !== undefined) {
                  <a (click)="navigateToVehicle(vehicle.id)">
                    <img
                      [src]="
                        vehicle.photos.length > 0
                          ? vehicle.photos[0].url
                          : 'img/placeholder.png'
                      "
                      alt="Foto principal del vehículo"
                      class="img-fluid img-thumbnail me-2 mb-2"
                      style="
                        object-fit: cover;
                        border-radius: 10px;
                        max-width: 100px;
                        max-height: 100px;
                        cursor: pointer;
                        
                      "
                    />
                  </a>
                  } @if(vehicle.photos.length > 1) {
                  <div class="ms-3 align-self-center">
                    <a
                      [routerLink]="['/vehicle', vehicle.id]"
                      (click)="showMorePhotos = !showMorePhotos"
                    >
                      Ver más
                    </a>
                  </div>
                  } @if(showMorePhotos) {
                  <div class="d-flex justify-content-start flex-wrap mt-2">
                    @for(photo of vehicle.photos.slice(1); let idx = $index;
                    track idx) {
                    <div class="me-2 mb-2">
                      <img
                        [src]="photo.url"
                        alt="Foto adicional del vehículo"
                        class="img-fluid img-thumbnail"
                        style="
                          object-fit: cover;
                          border-radius: 10px;
                          max-width: 80px;
                          max-height: 80px;
                        "
                      />
                    </div>
                    }
                  </div>
                  }
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-2">
        <button
          class="btn btn-primary rounded-pill px-4 py-2"
          (click)="
            pageChanged({
              page: (paginatedResult()?.pagination)!.currentPage - 1
            })
          "
          [disabled]="paginatedResult()?.pagination?.currentPage === 1"
        >
          Anterior
        </button>

        <span
          class="mx-3 text-black"
          style="font-size: 1.2rem; font-weight: bold"
        >
          Página {{ paginatedResult()?.pagination?.currentPage }} de
          {{ paginatedResult()?.pagination?.totalPages }}
        </span>

        <button
          class="btn btn-primary rounded-pill px-4 py-2"
          (click)="
            pageChanged({
              page: (paginatedResult()?.pagination)!.currentPage + 1
            })
          "
          [disabled]="
            paginatedResult()?.pagination?.currentPage ===
            paginatedResult()?.pagination?.totalPages
          "
        >
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>
}@else{

<p class="text-center text-black">¡No se encontraron vehículos!</p>

}
