@if(paginatedResult()?.items?.length){
<div class="container mt-4">
  <h1 class="text-center mb-4" style="margin-top: 10%">Lista de Marcas</h1>
  <table class="table table-bordered border-primary">
    <thead class="table-responsive table-success">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      @for (brand of paginatedResult()?.items; track brand.id){
      <tr>
        <td>{{ brand.id }}</td>
        <td>{{ brand.name }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
<!-- Paginación -->
<div class="d-flex justify-content-center align-items-center mt-2">
  <button
    class="btn btn-primary rounded-pill px-4 py-2"
    (click)="
      pageChanged({
        page: (paginatedResult()?.pagination)!.currentPage - 1
      })
    "
    [disabled]="paginatedResult()?.pagination?.currentPage === 1"
  >
    Anterior
  </button>

  <span
    class="mx-3 text-black"
    style="font-size: 1.2rem; font-weight: bold"
  >
    Página {{ paginatedResult()?.pagination?.currentPage }} de
    {{ paginatedResult()?.pagination?.totalPages }}
  </span>

  <button
    class="btn btn-primary rounded-pill px-4 py-2"
    (click)="
      pageChanged({
        page: (paginatedResult()?.pagination)!.currentPage + 1
      })
    "
    [disabled]="
      paginatedResult()?.pagination?.currentPage ===
      paginatedResult()?.pagination?.totalPages
    "
  >
    Siguiente
  </button>
</div>
}@else {
  <div class="d-flex justify-content-center align-items-center min-vh-100 bg-light" style="margin-top:0%;">
    <div class="bg-white p-5 rounded-lg shadow-lg text-center" style="max-width: 400px; width: 100%;">
      <h2 class="display-4 text-danger mb-4">¡Ups! No se encontraron Marcas Disponibles.</h2>
      <p class="lead text-secondary mb-4">Parece que aún no tienes Marcas registradas. ¡Crea una ahora!</p>
      
    </div>
  </div>
}