<div class="container mt-4">
  <h1 class="text-center mb-4" style="margin-top: 10%">Lista de Marcas</h1>
  <table class="table table-bordered border-primary">
    <thead class="table-responsive table-success">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      @for (brand of brandOptions; track brand.id){
      <tr>
        <td>{{ brand.id }}</td>
        <td>{{ brand.name }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
